/* Button with white text */ 
.btn-theme-w {
    color: $white !important;
    background: $theme-color;
    color: $white !important;
}

/* Button with gray text */ 
.btn-theme-g {
    color: $text-color !important;
}
