.navbar {
    padding-top: 17px;
    padding-bottom: 17px;

    .navbar-brand {
        margin-right: 40px;
    }

    .navbar-nav {
        gap: 32px;

        a {
            @include base-text-style();
        }

        .dropdown {
            .dropdown-menu {
                a {
                    @include base-text-style(400, 14px, 22px);
                }
            }
        }

        .dropdown-toggle::after {
            margin-left: 13px;
            background-image: url('../../public/assets/down-arrow.svg'); // your custom icon
            background-size: contain;
            background-repeat: no-repeat;
            width: 10px;
            height: 5px;
            border: none;
        }
    }

    .auth-buttons {
        .btn {
            @include base-text-style();
        }
    }
}