.hero-section {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 610px;

    img {padding-left: 12px;}

    h1 { @include base-text-style(600, 61px, 130%, 0px, $white);}

    p {@include base-text-style(400, 20px, 27px, 0px, $white);}

    .bg-left-half {
        position: absolute;
        top: 0;
        left: 0;
        width: 51%;
        height: 100%;
        background-color: $theme-color;
        z-index: 0;
        border-bottom-right-radius: 400px;
    }

    .button-group {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 1rem;

        .btn {
            padding: 0.75rem 1.5rem;
            @include base-text-style(600, 18px, 28px, 0px, $white);

            &.primary {
                background-color: $white;
                color: $theme-color;
            }

            &.outline {
                background: transparent;
                border: 1px solid $white;
                color: $white;
            }
        }
    }
}