.trusted-section {
    // height: 196px;
    background: $bg-light;
    border-top-right-radius: 1000px;
    padding: 40px;

    .title {
        margin-bottom: 32px;
        @include base-text-style(500, 16px, 24px, 0px);
    }

    .logo-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    @media (max-width: 1400px) {
        .logo-container {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            justify-content: flex-start;
            scrollbar-width: none;
        }

        .logo-container::-webkit-scrollbar {
            display: none;
            /* For Chrome/Safari */
        }
    }
}