@import 'bootstrap/scss/bootstrap';
@import 'variables';
@import '_header';
@import '_hero';
@import 'responsive';

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    // font-weight: 400;
    font-style: normal;
}