// _variables.scss
$primary-color: #9B1903;
$background-color: #ffffff;
$pitch-bg-color:#FEF4DE;


$theme-color: #9B0405;
$text-color: #475467;
$text-sm: #7B7B7B;
$text-ED: #EDEDED;
$white: #FFFFFF;
$bg-light:#FFF4DE;
$border-color: #C6C8D0;
$text-md:#414651;
$footer-bg:#540001;
$black: #101828;